<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cstro</title>
</head>
<header>
   <button id="Logar"><a routerLink="/login">Login</a></button> 
   <h2 id="h2Todo">TODO-APP</h2>
</header>
<body>
    <section id="quadro">
    <div id="registrar">
        <div id="divH2">
            <h3 id="cadastro">Cadastrar Usuario</h3>
        </div>
    <div id="inputs">
        <input type="text" [(ngModel)]="id" placeholder="Informe seu id" id="id">
        <input type="text" [(ngModel)]="nome" placeholder="Informe seu nome" id="nome">
        <input type="email" [(ngModel)]="email" placeholder="Informe seu email" id="email">
        <input type="password" [(ngModel)]="password" placeholder="Informe sua senha" id="senha">
        
    </div>
    <div id="entrar">
        <button   (click)="cadastrarUsuario()" style="background-color: antiquewhite ;">Cadastrar</button>
    </div>
</div>
</section>
</body>
</html>