<html>
<header class="header">
    <div>
        <a class="router" routerLink="/cadastro">Cadastrar</a> 
        <h2 id="h2Todo">TODO-APP</h2>
    </div>
</header>
<body>

    <section id="quadro">
    <div class="quadrado">
        <div id="divH2">
            <h3 id="titulo">Entrar</h3>
        </div>
            <div id="input">
                <input type="text" placeholder="Informe seu id" [(ngModel)]="id" id="id">
                <input type="password" placeholder="Informe sua senha" [(ngModel)]="senha" id="senha">
            </div>
            <div class="login">
                <button class="loginButton" (click)="login()">Entrar</button>
            </div>
    </div>
</section>
</body>
</html>
