<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<h1>TODO-APP</h1>
<div class="cadastro">
<input placeholder="Nome"  [(ngModel)] = 'Tarefas.nome'>
<input placeholder="Descrição"  [(ngModel)] = 'Tarefas.descricao'>

<button (click) = "cadastrarUsuario()" style="background-color: aqua ;"> Cadastrar</button>
</div>

<div *ngFor="let trf of trfs; index as indice; ">
  <div class="Tarefas">
  <h4> 
    {{trf.id}}
    Tarefa: {{trf.nome}}
    <br>
    Descrição: {{trf.descricao}}
    <br>
    <select name="selecionar" id="selector">
      <option value="">TODO </option>
      <option value="">DOING</option>
      <option value="">DONE</option>
    </select> 
  </h4>
  <button (click) = "removerTarefa(indice)">remover</button>
  
  </div>
</div>
</body>
</html>