@import url('https://fonts.cdnfonts.com/css/lovelo?styles=25962');

html{
    background-color: rgb(75, 75, 75) ;
    color: white ;
}
.cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    width: 158px;
    border-radius: 10px;
}
input{
    width: 150px    ;
    border-radius: 10px;
}

h1{
    font-family: 'Lovelo', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
}
.categoria{
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 1px solid white;
    flex-wrap: wrap;
    width: 100%;

}
.head{
    font-size: 60px;
    width:340px;
    height: 60px;
    border: 1px solid white ;
    font-family: 'Lovelo', sans-serif;
    display: flex;
    color: azure;
    align-items: center;
}
.head-todo{
    display: flex;
    justify-content: center;
    
}


