html{
    background-color: aquamarine ;
}
.cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    width: 158px;
}
input{
    width: 150px    ;
}

h1{
    display: flex;
    justify-content: center;
}
.categoria{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border: 1px solid black;
}
.done{
    
}

