<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>

<body>
  <header>
    <button  style="background-color: antiquewhite;"><a routerLink="/categoria">Cadastrar Categorias</a></button>
    <div class="head-todo">
    <h1 class="head">TODO-APP</h1>
  </div>
  </header>
  <div class="cadastro">
    <input  placeholder="Nome" [(ngModel)]='Tarefas.nome'>
    <input  placeholder="Descrição" [(ngModel)]='Tarefas.descricao'>
    <select name="selecionar" [(ngModel)]='Tarefas.categoria' style="border-radius: 10px;">
      <option *ngFor="let ctg of ctgs; index as indice"> {{ctg.nome}}</option>
      
    </select>

    <button (click)="cadastrar()" style="background-color: antiquewhite ;"> Cadastrar</button>

  </div>

  <div>
    <div class="categoria" >
      <div  class="todo" (change)="mudar()" *ngFor="let ctg of ctgs;" (dragover) = "allowDrop(ctg.nome)">
        <h1>{{ctg.nome}}</h1>
        <div draggable = "true"  *ngFor="let trf of trfs;" (dragstart) = "drag(trf)" >
          <div class="drop"  style="border:solid black ;" *ngIf="trf.categoria === ctg.nome, index as indice"  >
            
            <h4>
              {{trf.id}}
              Tarefa: {{trf.nome}}
              <br>
              Descrição: {{trf.descricao}}
              <br>
          
              <select name="selecionar" [(ngModel)]='trf.categoria'style="border-radius: 10px;">
                <option *ngFor="let ctg of ctgs; index as indice"> {{ctg.nome}}</option>
              </select>
            </h4>
            <button (click)="removerTarefa(indice)">remover</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
