<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>

<body>
  <header>
    <button  style="background-color: rgb(252, 252, 252);"><a routerLink="/categoria">Cadastrar Categorias</a></button>
    <div class="head-todo">
    <h1 class="head">TODO-APP</h1>
  </div>
  </header>
  <div class="cadastro">
    <input  placeholder="Nome" [(ngModel)]='Tarefas.nome'>
    <input  placeholder="Descrição" [(ngModel)]='Tarefas.descricao'>
    <select name="selecionar" [(ngModel)]='Tarefas.categoria' style="border-radius: 10px;">
      <option *ngFor="let ctg of ctgs; index as indice"> {{ctg.nome}}</option>
      
    </select>

    <button (click)="cadastrar()"  style="background-color: rgb(228, 228, 228) ;"> Cadastrar</button>

  </div>

  <div>
    <div class="categoria" >
      <div  class="todo" (change)="mudar()" *ngFor="let ctg of ctgs;" (dragover) = "allowDrop(ctg.nome, $event)">
        <h1>{{ctg.nome}}</h1>
        <div *ngFor="let trf of trfs; index as index">
          <div class="drop"  style="border:solid rgb(230, 229, 229) ;" *ngIf="trf.categoria === ctg.nome"  >
            <div draggable="true" (dragstart)="drag(trf)" (drop)="drop($event, index)">
            
            <h4>
              {{trf.id}}
              Tarefa: {{trf.nome}}
              <br>
              Descrição: {{trf.descricao}}
              <br>
          
              <select name="selecionar" [(ngModel)]='trf.categoria'style="border-radius: 10px;">
                <option *ngFor="let ctg of ctgs;"> {{ctg.nome}}</option>
              </select>
            </h4>
            <button (click)="removerTrf(index)">remover</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
